<mat-card>
  <mat-card-title class="d-flex align-items-center">
    <mat-icon class="mr-2">book</mat-icon>
    Dane
  </mat-card-title>
  <mat-card-content>
    <p class="h3 text-center" *ngIf="loading">Ładowanie ...</p>
    <form [formGroup]="form" (submit)="submitForm()">
      <mat-form-field *ngFor="let field of fields" class="w-50">
        <mat-label>{{field.label}}</mat-label>
        <input matInput [formControlName]="field.controlName">
      </mat-form-field>
    </form>
    <button mat-button (click)="submitForm()">Zapisz</button>
  </mat-card-content>
</mat-card>
