<mat-card>
  <mat-card-title class="d-flex align-items-center">
    <mat-icon class="mr-2">directions_car</mat-icon>
    Dane Samochodu
  </mat-card-title>
  <mat-card-content>
    <p class="h3 text-center" *ngIf="loading">Ładowanie ...</p>
    <form [formGroup]="form" (submit)="submitForm(false)">
      <mat-form-field class="w-25">
        <mat-label>Marka</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field class="w-25">
        <mat-label>Model</mat-label>
        <input matInput formControlName="model">
      </mat-form-field>
      <mat-form-field class="w-25">
        <mat-label>Cena</mat-label>
        <input matInput formControlName="price">
      </mat-form-field>
      <div class="w-25">
        Zdjęcie
        <input type="file" (change)="setPhotoValue($event)">
      </div>
    </form>
    <button mat-button (click)="submitForm(false)">Zapisz</button>
    <button mat-button (click)="submitForm(true)">Zapisz i dodaj następny</button>
  </mat-card-content>
</mat-card>
