<mat-card>
  <mat-card-title class="d-flex align-items-center">
    <mat-icon class="mr-2">chrome_reader_mode</mat-icon>
    Dodaj newsa
  </mat-card-title>
  <mat-card-content>
    <p class="h3 text-center" *ngIf="loading">Ładowanie ...</p>
    <form [formGroup]="form" (submit)="submitForm(false)">
      <mat-form-field *ngFor="let field of fields" class="w-50">
        <mat-label>{{field.label}}</mat-label>
        <input matInput [formControlName]="field.controlName">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Treść</mat-label>
        <textarea matInput matTextareaAutosize formControlName="content"></textarea>
      </mat-form-field>
    </form>
    <button mat-button (click)="submitForm(false)">Zapisz</button>
    <button mat-button (click)="submitForm(true)">Zapisz i dodaj następny</button>

  </mat-card-content>
</mat-card>
