<mat-sidenav-container class="sidnav-container">
  <mat-sidenav mode="side" opened>
    <div *ngFor="let button of navigationButtons">
      <button mat-button [routerLink]="button.url" class="w-100 text-left">{{ button.name }}</button>
    </div>
    <hr>
    <button mat-button class="w-100 text-left" (click)="logOut()">Wyloguj</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
